

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}


header {
    text-align: center;
    position: relative; 
    z-index: 1; 
}
header h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 0;
}

header h2{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 100px;
    color: green;
    margin-top: 0;
    margin-bottom: 0;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }

}

h2:hover {
    animation: shake 0.5s;
    transform: scale(2);
    transition: transform 0.3s ease-in-out;
}

body {
    cursor: url("catcursor2.png"), auto;
} 

button { 
    background: none; 
    border: none;
    padding: 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    } 

.container {
    display: flex;
	align-items: bottom;
	justify-content: center;
}

@keyframes pulse {
    0% { transform: scale(1); background-color: red; }
    14% { background-color: orange; }
    28% { background-color: yellow; }
    42% { transform: scale(1.1); background-color: green; }
    57% { background-color: blue; }
    71% { background-color: indigo; }
    85% { background-color: violet; }
    100% { transform: scale(1); background-color: red; }
}

button:hover {
    animation: pulse 2s infinite;
}