

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

header {
    text-align: center;
    position: relative; 
    z-index: 1; 
}
header h1, h2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 100px;
}

header h2{
    color: green
}

button { 
    font size: 50px; 
    padding: 30px 50px;
}
